@import "variables.scss";

/**************************************************
ACCORDION
***************************************************/

.#{$baseline-selector-prefix}-accordion  {
    
    .#{$baseline-selector-prefix}-accordion-header {

        display:block;
        background: #eee;
        background: #eee -moz-linear-gradient(top, #fcfcfc 0%, #eee 100%); /* FF3.6+ */
        background: #eee -webkit-linear-gradient(top, #fcfcfc 0%, #eee 100%); /* Chrome10+,Safari5.1+ */
        background: #eee -o-linear-gradient(top, #fcfcfc 0%, #eee 100%); /* Opera11.10+ */
        background: #eee -ms-linear-gradient(top, #fcfcfc 0%, #eee 100%); /* IE10+ */
        background: #eee linear-gradient(top, #fcfcfc 0%, #eee 100%); /* W3C */
        border:1px solid #ccc;
        border-radius: 3px;
        -moz-border-radius: 3px;
        -webkit-border-radius: 3px;
        padding:10px;
        font-size:16px;
        font-weight:normal;
        cursor:pointer;    
        margin-bottom:10px;

        span {
            &:before {
                font-family: 'FontAwesome';
                content: "\f067";
                padding-right:20px;
            }            

        }

        &:hover {
                background:#fcfcfc;
        }
    }

    .#{$baseline-selector-prefix}-accordion-active {
        span {
            &:before {
                content: "\f068";
            }
        }
    }

    .#{$baseline-selector-prefix}-accordion-conent {
        margin-bottom:10px;
    }

}