$baseline-prefix: "baseline";
$baseline-header-font-family: "Open Sans";
$baseline-body-font-family: "Helvetica Neue";
$baseline-global-container-width: 940px;
$baseline-color-body-background: #eee;
$baseline-color-body-text: #222;