$baseline-body-font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
$baseline-color-body-background: #eee;
$baseline-color-body-text: #222;
$baseline-color-header-background: #000;
$baseline-color-header-text: #fff;
$baseline-color-content-background: #fff;
$baseline-color-content-border: #ccc;