$baseline-selector-prefix: "baseline";
$baseline-header-font-family: "Open Sans";
$baseline-body-font-family: "Helvetica Neue";
$baseline-global-container-width: 940px;
$baseline-color-body-background: #eee;
$baseline-color-body-text: #222;
$baseline-color-link-text: #009;
$baseline-color-link-text-hover: #036;
$baseline-color-link-text-active: #036;
$baseline-color-link-text-visited: #036;